{% extends 'includes/base.html' %}
{% load static %}
{% block content %}
    <div class="row">
            {% for student in students %}

            <div class="col-lg-3">
                        {% if student.student_photo %}
                            <img class ="thumbnail" src="{{ student.student_photo.url }}" alt = "Image not found" height="30px">
                        {% else %}
                            No photo available
                        {% endif %}


            <div class="box-element name">
                <h6><strong>{{student.name}}</strong></h6>
                <hr>


                <h6><strong>Faculty:{{student.faculty}}</strong></h6>
                <h6>Section:{{student.section}}</></h6>


            </div>

            </div>


 {% endfor %}
      </div>


{% endblock content %}

